.containerShowProducts{
    width: 90%;
    height: 50vh;
    margin-left: 5%;
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
}
.containerShowProducts ul{
    width: 30%;
}
.containerShowProducts ul li{
    list-style: none;
    text-align: center;
}
.containerShowProducts ul li:first-child{
    padding: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.13);

}
.buttonSave {
    font-family: arial;
    font-weight: bold;
    color: #000000 !important;
    font-size: 8px;
    text-shadow: 0px 0px 0px #000000;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px;
    border-radius: 5px;
    border: 0px solid #3866A3;
    background: #62F0E6;
}
.buttonSave:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0) !important;
}
.containerButtonShowProducts{
    display: flex;
    justify-content: center;

}
.liShowProducts{
    padding: 20px;
    max-height: 15px;
}
.liButtonDelete{
    padding: 20px;
    max-height: 15px;

}
.buttonDeleteProduct{
    background-color: hsl(0, 84.2%, 60.2%);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.buttonDeleteProduct:hover{
    cursor: pointer;
    background-color: hsl(1, 90.2%, 40.2%);;
}